[user]
        email = wasilewski.robert@gmail.com
        name = Robert Wasilewski

[credential]
	helper = cache --timeout=3600
[github]
user = RBozydar

[core]
  excludesfile = ~/.gitignore_global
  filemode = false
  trustctime = false
    autocrlf = input

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[url "git@github.com:"]
	insteadOf = https://github.com/
